@import url('chrome://global/skin/');

@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');
@namespace html url('http://www.w3.org/1999/xhtml');

#placesRootButton.fuzzyopen-working,
#placesRootButton.fuzzyopen-working .toolbarbutton-icon {
  list-style-image: url('chrome://global/skin/icons/loading_16.png') !important;
}

#fuzzyopen-query {
	-moz-appearance:        none;
  background:             Window;
  color:                  WindowText;
  margin:                 0;
	border:                 none;
  border-top:             1px solid;
	-moz-border-top-colors: ThreeDDarkShadow;
  -moz-box-flex:          1;
}

#fuzzyopen-query[empty="true"] {
  color: ThreeDShadow;
}

#fuzzyopen-results {
  -moz-appearance: none;
  -moz-box-flex:   1;
  background:      Window;
  border-top:      1px solid ThreeDShadow;
  overflow:        auto;
}

#fuzzyopen-results html|ol {
  list-style:    none;
  margin:        0;
  padding:       0;
  -moz-box-flex: 1;
}

#fuzzyopen-results html|li {
  padding:       5px;
  border-bottom: 1px solid ThreeDLightShadow;
  overflow-x:    hidden;
  overflow-y:    auto;
  cursor:        pointer;
}

#fuzzyopen-results html|div.extension {
  float:      left;
  width:      64px;
  min-height: 32px;
  font-size:  100%;
  overflow:   hidden;
  text-align: right;
}

#fuzzyopen-results html|div.extension html|strong {
  background-color:   rgba(0, 0, 0, 0.15);
  color:              ThreeDDarkShadow;
  text-transform:     uppercase;
  display:            inline-block;
  padding:            5px 10px;
  -moz-border-radius: 2px;
}

#fuzzyopen-results html|div.file {
  float:           left;
  width:           100%;
  margin-left:     -64px;
  padding-left:    74px;
  -moz-box-sizing: border-box;
}

#fuzzyopen-results html|div.path {
  font-size:   90%;
  line-height: 110%;
  font-family: Monaco, Consolas, 'Lucida Console', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Courier New', Courier, monospace;
  color:       ThreeDDarkShadow;
  padding-top: 5px;
}

#fuzzyopen-results html|div.path html|span.separator {
  display: inline;
  padding: 0 3px;
  color:   ThreeDShadow;
}

#fuzzyopen-results html|li.selected {
  background-color: Menu;
}

#fuzzyopen-results html|li.selected html|div.extension html|strong,
#fuzzyopen-results html|li.selected html|div.file,
#fuzzyopen-results html|li.selected html|div.path {
  color: MenuText;
}

#fuzzyopen-results html|div.loading {
  cursor:        wait;
  padding:       10px;
	text-align:    center;
	-moz-box-flex: 1;
}

#fuzzyopen-results html|div.loading html|span {
	background:   transparent url('chrome://global/skin/icons/loading_16.png') no-repeat 0 50%;
	padding-left: 20px;
	line-height:  16px;
}

#fuzzyopen-results html|div.exception {
  background-color: rgba(255, 0, 0, 0.025);
  cursor:           default;
  padding:          10px;
	-moz-box-flex:    1;
}

#fuzzyopen-results html|div.exception html|h2 {
	margin:        0;
	padding:       0;
	font-size:     100%;
	color:         #c00;
	border-bottom: 1px solid #f00;
}

#fuzzyopen-results html|div.exception html|h2 {
  background:   transparent url('chrome://fugue/skin/icons/cross-circle-frame.png') no-repeat 0 50%;
  padding-left: 20px;
  line-height:  20px;
}

#fuzzyopen-results html|div.exception html|pre {
  white-space: pre-line;
}

#fuzzyopen-results html|div.exception html|pre html|code {
  font:  message-box;
  color: #300;
}
